.login-container {
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 5%;
}

.login-form {
    text-align: center;
    margin: auto;
}

label {
    margin-top: 15px;
}

.login-button {
    margin-top: 15px;
}